.images {
  width: 450px;
  height: 294px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 294px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }
}
